<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png" />
    <h2>My name is {{ firstName }} {{ lastName }}</h2>
    <h2>Age is {{ age }}</h2>
    <h2>User Active is {{ isActive }}</h2>
    <p>There is a user called {{ userObject.name }}</p>
    <p>There is a array {{ myArray[0] }}</p>
  </div>
</template>

<script setup>
import { reactive, ref } from "vue";

const firstName = ref("Mark");
const lastName = ref("Zuckerberg");
const age = ref(29);
const isActive = ref(true);
const userObject = reactive({
  name: "Elon Musk",
  age: 25,
});
const myArray = reactive(["Test",1,2,123])
</script>