<template>
  <div>
    <h1>THIS IS REF</h1>
    <h2>{{ count }}</h2>
    <button @click="countUp">Count Up</button> |
    <button @click="countDown">Count Down</button> |
    <button @click="countReset">Reset</button>
  </div>
</template>

<script>
import { ref } from "vue";

export default {
  setup() {
    const count = ref(0);
    function countUp() {
      count.value++;
    }
    function countDown() {
      count.value--;
      if (count.value < 0) {
        count.value = 0;
      }
    }
    function countReset() {
      count.value = 0;
    }
    return {
      countUp,
      countDown,
      countReset,
      count,
    };
  },
};
</script>

<style lang="scss" scoped>
</style>