<template>
  <div>
    <h1>THIS IS REACTIVE</h1>
    <h2>{{ state.count }}</h2>
    <button @click="countUp">Count Up</button> |
    <button @click="countDown">Count Down</button> |
    <button @click="countReset">Reset</button>
  </div>
</template>
  
<script setup>
import { reactive } from "vue";

const state = reactive({count:0})

function countUp() {
    state.count++
}
function countDown() {
    state.count--
    if (state.count < 0){
        state.count = 0
    }
}
function countReset() {
    state.count = 0
}
</script>
  
<style lang="scss" scoped>
</style>